#Estructura de datos
En ciencias de la computación, una estructura de datos es una forma particular de organizar información en un computador para que pueda ser utilizada de manera eficiente.Diferentes tipos de estructuras de datos son adecuados para diferentes tipos de aplicaciones, y algunos son altamente especializados para tareas específicas.


- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set
- Boolean Type:	bool

In [44]:
mivariable = False
print(mivariable)
print(type(mivariable))

False
<class 'bool'>

# Listas
Las listas se utilizan para almacenar varios elementos en una sola variable.

In [72]:
nota1 = 4
nota2 = 3
nota3 = 5

promedio = (nota1 + nota2 + nota3) / 3
#print(promedio)

notas = [4, 3, 5]
promedio = sum(notas) / len(notas)
#print(promedio)

print(notas[0])
print(notas[1])

4
3

In [77]:
lista = ["apple", "banana", "cherry"]
print(lista)

lista2 = [1, 5, 7, 9, 3, 4, 7, 8]
print(lista2)

lista3 = [True, False, False]
print(lista3)

lista4 = ["abc", 34, True, 40, "male"]
print(lista4)

lista5 = list(("apple", "banana", 1))
print(lista5)

print(len(lista2))
print(type(lista2))

print(lista[1])
print(lista2[1:5])
print(lista2[1:5:2])
print(lista2[:4])
print(lista2[2:])
print(lista2[-4:-1])

lista.append("orange")
lista.append(1)
print(lista)

[print(x) for x in lista2]
#[print(x) for x in lista2 if x > 5]

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3, 4, 7, 8]
[True, False, False]
['abc', 34, True, 40, 'male']
['apple', 'banana', 1]
8
<class 'list'>
banana
[5, 7, 9, 3]
[5, 9]
[1, 5, 7, 9]
[7, 9, 3, 4, 7, 8]
[3, 4, 7]
['apple', 'banana', 'cherry', 'orange', 1]
1
5
7
9
3
4
7
8

[None, None, None, None, None, None, None, None]

# Diccionarios

Los diccionarios se utilizan para almacenar valores de datos en pares clave:valor.
Un diccionario es una colección ordenada*, modificable y que no permite duplicados.

In [63]:
persona = {"nombre":"Carlos", "edad":22, "cursos":["Python","Django","JavaScript"]}
print(persona)
print(persona["edad"])
print(persona["cursos"][0])

persona2 = dict(nombre = "John", age = 36, country = "Colombia", city = "Bogota")
print(persona2)

print(type(persona))
print(persona2)

{'nombre': 'Carlos', 'edad': 22, 'cursos': ['Python', 'Django', 'JavaScript']}
22
Python
<class 'dict'>
{'nombre': 'John', 'age': 36, 'country': 'Colombia', 'city': 'Bogota'}

#Tuplas
Las tuplas en Python o tuples son muy similares a las listas, pero con dos diferencias. Son inmutables, lo que significa que no pueden ser modificadas una vez declaradas, y en vez de inicializarse con corchetes se hace con (). Dependiendo de lo que queramos hacer, las tuplas pueden ser más rápidas.

In [74]:
tupla = (1, 2, 3)
print(tupla)

tupla2 = 10, 20, 30
print(type(tupla2))
print(tupla2)

lista = [1, 2, 3, "a"]
tupla3 = tuple(lista)
print(type(tupla3))
print(tupla3)

(1, 2, 3)
<class 'tuple'>
(10, 20, 30)
<class 'tuple'>
(1, 2, 3, 'a')

In [69]:
tupla = (1, 2, 3, 4)
#print(tupla[2])

for x in tupla:
  print(x)

1
2
3
4

# Sets
Los set en Python son un tipo que permite almacenar varios elementos y acceder a ellos de una forma muy similar a las listas pero con ciertas diferencias:

Los elementos de un set son único, lo que significa que no puede haber elementos duplicados.
Los set son desordenados, lo que significa que no mantienen el orden de cuando son declarados.
Sus elementos deben ser inmutables.

In [76]:
s = set([5, 4, 6, 8, 8, 1])
print(s)
print(type(s))

set2 = {5, 4, 6, 8, 8, 1}
print(set2)       #{1, 4, 5, 6, 8}
print(type(set2)) #<class 'set'>

set3 = {"apple", "banana", "cherry", False, 1, 8}
print(set3)

for x in set3:
  print(x)

set3.add("orange")
print(set3)

{1, 4, 5, 6, 8}
<class 'set'>
{1, 4, 5, 6, 8}
<class 'set'>
{False, 1, 'cherry', 'banana', 'apple', 8}
False
1
cherry
banana
apple
8
{False, 1, 'cherry', 'banana', 'apple', 8, 'orange'}

In [78]:
import numpy

speed = [32,111,138,28,59,77,97]

promedio = numpy.mean(speed)
std_dev = numpy.std(speed)

print(promedio)
print(std_dev)

varianza = std_dev**2
print("varianza = ", varianza)
print("desviación estándar = ", varianza**0.5)

86.42857142857143